<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>View a Puppy</h1>

    <p>
      <%= puppy.name %> is a <%= puppy.breed %>
    </p>
    <p>
      <a href="/puppies/<%= puppy.id %>/edit">Edit Puppy</a>
    </p>

    <a href="/puppies">Home</a>
  </body>
</html>
